<header>
    <nav>
        <a href="/">OntheJobTraining</a>
        <ul>
            <li><a href="/students">Students</a></li>
            <li><a href="/students/new">Add Students</a></li>
            <li><a href="/companies">Companies</a></li>
            <li><a href="/companies/new">Add Companies</a></li>
        </ul>
    </nav>
</header>